/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #1e2a52 -29.09%,
    #183d6d 51.77%,
    #000000 129.35%
  );
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.grid-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.mt-4 {
  margin-top: 100px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
  width: 100%;
  max-width: 1200px; /* Adjust this value as needed */
  margin: 0 auto; /* Center the content container */
}

.page-content {
  width: 100%;
  max-width: 800px; /* Adjust this value as needed */
  padding: 0 20px; /* Add some padding on the sides */
  box-sizing: border-box;
}